# ATK-DNESP32S3-BOX0: 16MB flash, PSRAM Octal
CONFIG_BOARD_TYPE_ATK_DNESP32S3_BOX0=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v2/16m.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
